body {
    background: var(--color-background);
    color: var(--color-txt-main-1);
}

#main {
    overflow: auto;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    background-color: #2a2f4a;
    box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.15);
    padding: 0.5rem 1rem;
    justify-content: space-between;
    z-index: 1000;
}

header.fixed {
    position: fixed;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 1rem;    
}

section {
    width: 100%;
}

section .title {
    width: fit-content;
}

section .title::after {
  content: '';
  background-color: #ffffff;
  display: block;
  height: 2px;
  margin: 0.325em 0 0.5em 0;
  width: 100%;
}

#introduction {
    padding: 4rem 2rem;
}


#projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem,1fr));
    width: 100%;
}

#projects-container .project {
    padding: 4em 4em 2em 4em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: default;
    height: 40vh;
    max-height: 40em;
    min-height: 23em;
    overflow: hidden;
    position: relative;
}

#projects-container .project::before {
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.85;
    position: absolute;
    width: 100%;
    z-index: 2;
}
#projects-container .project:nth-child(6n-5)::before {
  background-color: var(--header-color-1);
}
#projects-container .project:nth-child(6n-4)::before {
  background-color: var(--header-color-2);
}
#projects-container .project:nth-child(6n-3)::before {
  background-color: var(--header-color-3);
}
#projects-container .project:nth-child(6n-2)::before {
  background-color: var(--header-color-4);
}
#projects-container .project:nth-child(6n-1)::before {
  background-color: var(--header-color-5);
}
#projects-container .project:nth-child(6n)::before {
  background-color: var(--header-color-6);
}
#projects-container .project:hover::before {
  opacity: 0;
}