@import "app.css";
/*---------------------------- Globals ----------------------------*/

:root {
    --color-txt-main-1: #2187E7;
    --color-txt-main-2: #E04475;
    --color-txt-main-3: #315676;
    --color-txt-main-4: #F57CA2;
    --color-buttons-1: #0b0b0b;
    --color-buttons-1-selected: #968a7e;
    --color-buttons-1-hover: #474747;
    --color-buttons-2-hover: #e3e3e3;
    --color-buttons-3-hover: #f9f9f9;
    --color-buttons-4-hover: #181818;
    --color-buttons-1-disabled: #cbcbcb;
    --color-buttons-2-disabled: #8c8c8c;
    --color-bullets-1: #0b0b0b;
    --interaction: rgb(225, 115, 23);
    --right: #5cb563;
    --wrong: #c74b32;
    --correction: #3579cd;
    /* Base value 20.352 */
    --font-size-100: 4.91rem; /* 100px */
    --font-size-70: 3.44rem; /* 70px */
    --font-size-64: 3.14rem; /* 64px */
    --font-size-60: 2.94rem; /* 60px */
    --font-size-50: 2.456rem; /* 50px */
    --font-size-40: 1.96rem; /* 40px */
    --font-size-37: 1.81rem; /* 37px */
    --font-size-35: 1.719rem; /* 35px */
    --font-size-34: 1.67rem; /* 34px */
    --font-size-32: 1.57rem; /* 32px */
    --font-size-30: 1.47rem; /* 30px */
    --font-size-28: 1.37rem; /* 28px */
    --font-size-26: 1.277rem; /* 26px */
    --font-size-24: 1.17rem; /* 24px */
    --font-size-22: 1.08rem; /* 22px */
    --font-size-20: 0.98rem; /* 20px */
    --font-size-18: 0.88rem; /* 18px */
    --padding-bottom-content: var(--font-size-70);
    --padding-top-content: 0px;
}

html,
body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Inter";
    font-size: max(1.06vw, 12px);
    touch-action: none;
}

/* iPad, Tablets */
@media (pointer: coarse) and (min-width: 720px) and (max-width: 2000px) and (min-height: 541px) {
    html,
    body {
        font-size: max(1.06vw, 16px);
    }
}


html * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: inherit;
    touch-action: pan-y pan-x;
}