/*---------------------------- Globals ----------------------------*/

html,
body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    /*Couleur du fond*/
    -ms-touch-action: none;
    /*suppression d'évènement touch par défaut du navigateur*/
    touch-action: none;
    /*suppression d'évènement touch par défaut du navigateur*/
}

/*Empêcher définitivement le texte d'être sélectionnable*/

html body *[type='text'] {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

body * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* supprime le clignotement lors d'un clic sur un bouton ou un lien sur iPad */
}

/* FIX D&D IE*/
body *::selection {
    background: transparent;
}

body *::-moz-selection {
    background: transparent;
}

/*Classe de texte de base, appliquée partout où il n'y a pas de mise en forme spécifique*/
/*Cette classe doit rester telle quelle car elle est appelée obligatoipxent pour tous les textes de la leçon*/
.noselectable, img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	cursor: inherit;
}

.noEvent, .noevents {
    pointer-events: none;
}

/*Correctif effectif en cas de composant de saisie*/
input[type=text]::-ms-clear{
    display:none;
}

input[type=password]::-ms-reveal{
    display:none;
}

/*Corrections de flou sur resize dans Chrome*/
.blurPatchChrome {
    -webkit-perspective: 1000;
    perspective: 1000;
}

.blurPatchChrome * {
    -webkit-perspective: inherit;
    perspective: inherit;
}

/* Classes communes */

* {
    box-sizing: border-box;
}

html {
    /*overflow: hidden;*/
    -ms-touch-action: none;
	touch-action:none;/*suppression d'évènement touch par défaut du navigateur*/
}

body  {
    background-color: #F7F7F7;/*Couleur du fond*/
    -ms-touch-action: none;/*suppression d'évènement touch par défaut du navigateur*/
	touch-action:none;/*suppression d'évènement touch par défaut du navigateur*/
}

body * {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* supprime le clignotement lors d'un clic sur un bouton ou un lien sur iPad */
}
body *::selection { background: transparent; }
body *::-moz-selection { background: transparent; }

p {
    margin: 0;
    transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    -webkit-transform: translateZ(0px);
    -o-transform: translateZ(0px);
}

.cMarginBottom5 > div:not(:last-child) {
    margin-bottom: 5px !important;
}

.cMarginBottom10 > div:not(:last-child) {
    margin-bottom: 10px !important;
}

.cMarginBottom20 > div:not(:last-child) {
    margin-bottom: 20px !important;
}

.cMarginRight5 > div:not(:last-child) {
    margin-right: 5px !important;
}

.cMarginRight10 > div:not(:last-child) {
    margin-right: 10px !important;
}

.cMarginRight15 > div:not(:last-child) {
    margin-right: 15px !important;
}

.pulseBrown {
    -webkit-animation: pulseBrown .8s ease-in-out infinite;
    animation: pulseBrown .8s ease-in-out infinite;
}

@-webkit-keyframes pulseBrown {
    0% {
        box-shadow: 0 0 0 0 rgba(181,140,106,1);
        -webkit-box-shadow: 0 0 0 0 rgba(181,140,106,1);
        -moz-box-shadow: 0 0 0 0 rgba(181,140,106,1);
    }
    100% {
        box-shadow: 0 0 0 25px rgba(181,140,106,0);
        -webkit-box-shadow: 0 0 0 25px rgba(181,140,106,0);
        -moz-box-shadow: 0 0 0 25px rgba(181,140,106,0);
    }
}

@keyframes pulseBrown {
    0% {
        box-shadow: 0 0 0 0 rgba(181,140,106,1);
        -webkit-box-shadow: 0 0 0 0 rgba(181,140,106,1);
        -moz-box-shadow: 0 0 0 0 rgba(181,140,106,1);
    }
    100% {
        box-shadow: 0 0 0 25px rgba(181,140,106,0);
        -webkit-box-shadow: 0 0 0 25px rgba(181,140,106,0);
        -moz-box-shadow: 0 0 0 25px rgba(181,140,106,0);
    }
}

.pulseWhite {
    -webkit-animation: pulseWhite .8s ease-in-out infinite;
    animation: pulseWhite .8s ease-in-out infinite;
}

@-webkit-keyframes pulseWhite {
    0% {
        box-shadow: 0 0 0 0 rgba(255,255,255,1);
        -webkit-box-shadow: 0 0 0 0 rgba(255,255,255,1);
        -moz-box-shadow: 0 0 0 0 rgba(255,255,255,1);
    }
    100% {
        box-shadow: 0 0 0 25px rgba(255,255,255,0);
        -webkit-box-shadow: 0 0 0 25px rgba(255,255,255,0);
        -moz-box-shadow: 0 0 0 25px rgba(255,255,255,0);
    }
}

@keyframes pulseWhite {
    0% {
        box-shadow: 0 0 0 0 rgba(255,255,255,1);
        -webkit-box-shadow: 0 0 0 0 rgba(255,255,255,1);
        -moz-box-shadow: 0 0 0 0 rgba(255,255,255,1);
    }
    100% {
        box-shadow: 0 0 0 25px rgba(255,255,255,0);
        -webkit-box-shadow: 0 0 0 25px rgba(255,255,255,0);
        -moz-box-shadow: 0 0 0 25px rgba(255,255,255,0);
    }
}

.fading {
    -webkit-animation: fading 7s ease-out infinite;
    animation: fading 7s ease-out infinite;
}

@-webkit-keyframes fading {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fading {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.lineHeightFontSize24 {
    line-height: 28px !important;
}

.lineHeightFontSize28 {
    line-height: 34px !important;
}

.lineHeightFontSize30 {
    line-height: 36px !important;
}

.lineHeightFontSize36 {
    line-height: 43px !important;
}

.lineHeightFontSize40 {
    line-height: 49px !important;
}

.lineHeightFontSize48 {
    line-height: 58px !important;
}

.lineHeightFontSize51 {
    line-height: 62px !important;
}

.lineHeightFontSize57 {
    line-height: 62px !important;
}

.lineHeightFontSize60 {
    line-height: 69px !important;
}

.lineHeightFontSize64 {
    line-height: 70.5px !important;
}

.lineHeightFontSize67 {
    line-height: 72px !important;
}

.lineHeightFontSize81 {
    line-height: 88px !important;
}

.lineHeightFontSize86 {
    line-height: 97px !important;
}

.lineHeightFontSize94 {
    line-height: 103px !important;
}

.lineHeightFontSize98 {
    line-height: 110px !important;
}

.boxSizingInitial {
  box-sizing: initial !important;
}

/* VIDEO */

video {
    pointer-events: none !important;
    width: 100%;
    height: auto;
}
.mejs__controls {
    display: none !important;
}

.mejs__inner, .mejs__layers {
    height: inherit !important;
}

.mejs__layers {
    display: none !important;
}

.mejs__container {
    background-color: transparent !important;
}

.video-brightness {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'brightness\'><feColorMatrix type=\'matrix\' values=\'1.2 0 0 0 0 0 1.2 0 0 0 0 0 1.2 0 0 0 0 0 1.2 0\'/></filter></svg>#brightness"); /* Firefox 3.5+ */
    -webkit-filter:brightness(108.5%); /* Chrome 19+ & Safari 6+ */
}