
html,
body {
    background-color: #FFF;
}

/* =================================================== Loaders =================================================== */

.loader {
    background-color: #FFF !important;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    align-items: center;
    justify-content: center;
}

.loader .circular {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 270px;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    width: 270px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loader .path {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -100px;
    -webkit-animation: dash 1.5s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #1b8c93;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

.loader img {
    width: 100px;
}

.loader .title {
    font-size: 28px;
    margin: 0;
    color: #171717;
    line-height: 30px;
    text-align: left;
}


/* Popup quitter */

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

#popupConfirmation {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.popupContent {
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    z-index: 2;
    display: flex;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
}

.popupContent .popupContentWrapper {
    width: 40vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    overflow: hidden;
}

.popupContent .popupContentWrapper .up {
    width: 100%;
    height: 30%;
    background-color: #b58c6a;
}

.popupContent .popupContentWrapper .up p {
    color: #fff;
    font-weight: 700;
    font-size: 2.5vh;
    margin: 0;
}

.popupContent .popupContentWrapper .down {
    width: 100%;
    height: 70%;
}

.popupContent .popupContentWrapper .down .button {
    width: 30%;
    height: 20%;
    padding: 0.5vw;
    background-color:#b58c6a;
    cursor: pointer;
}

.popupContent .popupContentWrapper .down .button p {
    color: #FFF;
    font-weight: 700;
    font-size: 2.5vh;
    text-transform: uppercase;
    margin: 0;
}

.popupContent .popupContentWrapper .down .yesHitArea {
    margin-right: 10%;
}

/* Taille de l'élément pour le scale lors d'un redimensionnement d'une fenêtre */

#mainWrapper {
    width: 1600px;
    height: 791px;
    overflow: hidden;
}

#customFooter {
    position: absolute;
    width: 100%;
    height: 55px;
    z-index: 1;
    bottom: 0px;
    left: 0px;
    transition: width 0.5s, left 0.5s;
    transform: translateZ(0px);
}

#customHeader {
    position: absolute;
    width: 600px;
    height: 48px;
    z-index: 1;
    left: 0px;
    top: 0px;
    transition: width 0.5s, right 0.5s;
    transform: translateZ(0px);
}

#customMenu, #customGlossary {
    position: absolute;
    width: 100%;
    height: calc(100% - 55px);
    top: 0;
    left: 0;
    z-index: 1;
    transform: translateZ(0px);
}

.unavailable {
    opacity: 0;
    pointer-events: none;
}

#sound-trigger {
    background-color: #FFF;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #006a4e;
    background-image: url(../img/patterns.png);
    background-repeat: no-repeat;
    background-position: 0% 0%;
}

#sound-trigger-img {
    width: 250px;
    margin-bottom: 20px;
}

#sound-trigger-button {
    width: 159px;
    height: 54px;
    background-color: #af8756;
    border-radius: 27px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation: pulseBrown 0.8s ease-in-out infinite;
    animation: pulseBrown 0.8s ease-in-out infinite;
 }
 
 #sound-trigger-button p {
    font-size: 18px;
    color: #FFF;
    font-family: 'Roboto-Regular';
 }

 @keyframes pulseBrown {
    0% {
      box-shadow: 0 0 0 0 rgba(175,135,86, 1);
      -webkit-box-shadow: 0 0 0 0 rgba(175,135,86, 1);
      -moz-box-shadow: 0 0 0 0 rgba(175,135,86, 1);
    }
    100% {
      box-shadow: 0 0 0 10px rgba(175,135,86, 0);
      -webkit-box-shadow: 0 0 0 10px rgba(175,135,86, 0);
      -moz-box-shadow: 0 0 0 10px rgba(175,135,86, 0);
    }
  }