.quiz-intro .screen-left[data-image="true"] {
    background-image: url(../imgs/s1-img.webp);
}

#screen_2 .question-clickables {
grid-template-columns: repeat(2, 1fr);
margin-right: 10rem;
}

#screen_2 .question-clickable p{
    text-align: left;
}

.multiple{
    font-size: var(--font-size-22);
    font-weight: normal;
}


#screen_2 .screen-content .quiz-question-image {
    background-image: url(../imgs/s2-img.webp);
    --background-position-ipad-portrait: center 20%;
    --background-size-ipad-portrait: 100% auto;
    --background-position-mobile-portrait: center 20%;
    --background-size-mobile-portrait: 100% auto;
}

#screen_3 .screen-content .quiz-question-image {
    background-image: url(../imgs/s3-img.webp);
    --background-position-ipad-portrait: center 20%;
    --background-size-ipad-portrait: 100% auto;
    --background-position-mobile-portrait: center 20%;
    --background-size-mobile-portrait: 100% auto;
}

#screen_4 .screen-content .quiz-question-image {
    background-image: url(../imgs/s4-img.webp);
    background-size: cover ;
    background-position: center center;

}

#screen_5 .screen-content .quiz-question-image {
    background-image: url(../imgs/s5-img.webp);
    --background-position-ipad-portrait: 0% 20%;
    --background-size-ipad-portrait: 100% auto;
    --background-position-mobile-portrait: 0% 20%;
    --background-size-mobile-portrait: 100% auto;
}

#screen_6 .screen-content .quiz-question-image {
    background-image: url(../imgs/s6-img.webp);
    --background-position-ipad-portrait: center 20%;
    --background-size-ipad-portrait: 100% auto;
    --background-position-mobile-portrait: center 20%;
    --background-size-mobile-portrait: 100% auto;
}

.screen-content.quiz-question-content .question-clickables {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: var(--font-size-30);
}

.screen-content.quiz-question-content .question-clickable {
    font-size: var(--font-size-22);
    padding: 1rem 2.45rem;
}

.screen-content.quiz-question-content .button-validate {
    font-size: var(--font-size-18);
    color: var(--color-txt-main-2);
    box-shadow: 0px 0px 0px 0.09rem var(--color-txt-main-2);
    padding: var(--font-size-22) 2.35rem;
    gap: var(--font-size-18);
    font-weight: 700;
}

.screen-content.quiz-question-content .button-validate::after {
    content: "";
    display: block;
    width: var(--font-size-20);
    aspect-ratio: 88/75;
    background-image: url(../imgs/right-white.svg);
    background-size: cover;
}

.drop{
    width: 14.2rem;
    aspect-ratio: 289/78;
    border-radius: var(--font-size-20);
    background-color: #ffffff;
    color: #ffffff;
    outline: .09rem dashed #000000;
}

#screen_3 .question-drops {
    gap: var(--font-size-20);
    width: calc(40rem + 2 * var(--font-size-20));
}

#screen_3 .drop-wrapper {
    gap: .8rem;
    align-self: center;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: var(--font-size-20);
}

#screen_3 .question-drags-validate {
    margin-top: 5rem;
}

#screen_3 .question-drags-validate {
    gap: 5rem;
}

#screen_3 .drag {
    position: absolute;
    color: var(--color-txt-main-3);
    font-weight: 400;
}

#screen_3 .drags {
    background-color: #b8b8b8;
}

#screen_3 .drags,
#screen_3 .drag
{
    width: 14.2rem;
    aspect-ratio: 289/78;
    border-radius: var(--font-size-20);
}

#screen_3 .drags-wrapper {
    display: flex;
    align-items: center;
    gap: 0.933rem;
}

#screen_5 .screen-content.quiz-question-content .question-proposal{
    margin-bottom: 0;
}

#screen_5 .subtitle{
    margin-bottom: 1rem;
}