/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
    ##Device = *
    ##Screen = under 1366px
  */

@media (max-width: 1366px) {
}

/* 
    ##Device = *
    ##Screen = under 1280px
  */

@media (max-width: 1280px) {
}
/* 
    ##Device = *
    ##Screen = under 1180px
  */

@media (max-width: 1180px) {
    .screen-content[data-middle-content="1"] .screen-middle-content {
        padding: 0;
    }

    .screen-content[data-middle-content="1"] .screen-middle-content-bg {
        width: 100%;
        height: 100%;
    }

    .arrows-wrapper > .screen-2col-title {
        width: 70%;
    }
}

/* 
    ##Device = *
    ##Screen = under 1180px
  */

@media (max-width: 1180px) and (orientation: landscape) {
    .screen-content[data-landscape="col"] .screen-left[data-texts="true"] {
        --padding: 2rem 3rem 2rem 4.175rem;
    }
}

/* 
    ##Device = *
    ##Screen = under 1180px
  */

@media (max-width: 1024px) {
    .arrows-wrapper > .screen-2col-title {
        width: 80%;
    }
}

@media (max-height: 720px) {
    .screen-content[data-middle-content="1"] .screen-middle-content {
        padding: 0;
    }

    .screen-content[data-middle-content="1"] .screen-middle-content-bg {
        width: 100%;
        height: 100%;
    }
}

/* 
    ##Device = *
    ##Screen = under 980px
  */

@media (max-width: 980px) {
    .screen-content[data-landscape="col"] *[data-image="true"] .screen-image[data-texts="true"],
    .screen-content[data-landscape="row"] *[data-image="true"] .screen-image[data-texts="true"] {
        min-width: 90%;
        min-height: 90%;
        width: auto;
        height: auto;
    }

    .screen-displayable-trigger > p {
        font-size: var(--font-size-34);
    }
}

@media (max-width: 980px) and (min-height: 541px) {
    .card-game-left,
    .card-game-right {
        position: absolute;
        visibility: hidden;
    }
}

@media (max-width: 960px) {
    .card-swipe-text-feedbacks {
        max-width: 70%;
    }
}

/* 
    ##Device = *
    ##Screen = under 920px
  */

@media (max-width: 920px) and (orientation: portrait) {
    .screen-left,
    .screen-right {
        padding: var(--padding-portrait);
    }

    *[data-grid],
    .screen-content[data-landscape] {
        grid-template-columns: var(--col-values-ipad-portrait);
        grid-template-rows: var(--row-values-ipad-portrait);
        grid-column-gap: var(--col-gap-ipad-portrait);
        grid-row-gap: var(--row-gap-ipad-portrait);
    }

    *[data-background],
    .screen-content[data-landscape="col"] > *[data-image="true"],
    .screen-content[data-landscape="row"] > *[data-image="true"] {
        background-size: var(--background-size-ipad-portrait);
        background-position: var(--background-position-ipad-portrait);
    }

    *[data-position] {
        left: var(--left-ipad-portrait);
        top: var(--top-ipad-portrait);
        right: var(--right-ipad-portrait);
        bottom: var(--bottom-ipad-portrait);
    }

    .screen-content[data-landscape="col"] .screen-left[data-texts="true"] {
        padding: var(--font-size-60);
    }

    .screen-content[data-landscape="row"] *[data-image="true"] .screen-image,
    .screen-content[data-landscape="col"] *[data-image="true"] .screen-image {
        /* width: 80%; */
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        aspect-ratio: unset !important;
    }

    .screen-video {
        width: 100%;
        height: unset;
    }

    .screen-quiz-results {
        width: 100%;
    }
}

@media (max-width: 920px) and (orientation: landscape) {
    .summary-item.highlight .summary-item-title {
        font-size: var(--font-size-40);
    }

    .screen-content[data-landscape="col"] .screen-left[data-texts="true"] {
        --padding: 2rem 3rem 2rem 3.75rem;
    }
}

/* 
    ##Device = *
    ##Screen = under 760px
  */

@media (max-width: 760px) {
    .card-game {
        gap: 2.38rem;
    }

    .card-hint-swipe-left,
    .card-hint-swipe-right {
        width: 4.06rem;
        top: -6rem;
    }

    .card-hint-swipe-right {
        right: 15rem;
    }

    .card-hint-swipe-left {
        left: 15rem;
    }
}

/* 
    ##Device = *
    ##Screen = under 760px
  */

@media (max-width: 760px) and (orientation: landscape) {
    .screen-content[data-landscape="col"] .screen-left[data-texts="true"] {
        --padding: 2rem 3rem 2rem 3rem;
    }
}

/* 
    ##Device = *
    ##Screen = under 750px
  */

@media (max-width: 750px) {
    .arrows-wrapper > .screen-2col-title {
        width: auto;
    }
}

@media (max-width: 728px) and (orientation: landscape) {
    .summary-item .summary-item-title {
        font-size: var(--font-size-22);
    }

    .summary-item.highlight .summary-item-title {
        font-size: var(--font-size-32);
    }
}

/* 
    ##Device = *
    ##Screen = under 720px
  */

@media (max-width: 720px) {
}

/* 
    ##Device = *
    ##Screen = under 685px
  */

@media (max-width: 685px) {
    .card-game-left,
    .card-game-right {
        position: absolute;
        visibility: hidden;
    }

    .card-hint-swipe-right {
        right: -2rem;
    }

    .card-hint-swipe-left {
        left: -1rem;
    }

    .card-game-placeholder::before,
    .card,
    .card-blank,
    .card-scores {
        width: 16.5rem;
        height: 16.5rem;
    }
}

@media (max-width: 680px) {
    .card-swipe-text-feedbacks {
        min-height: 5.4rem;
        max-width: 100%;
    }
}

@media (max-width: 640px) {
    .category-popup {
        top: 4vh;
        height: calc(
            96vh - var(--nav-height) - (var(--nav-pos) * 2) - var(--padding-bottom-content) - var(--padding-top-content)
        );
        width: 90vw;
    }

    .qcm-feedback {
        height: calc(93vh - var(--padding-bottom-content) - var(--padding-top-content));
        width: 90vw;
    }
}

@media (max-width: 685px) and (orientation: portrait) {
    .screen-left,
    .screen-right {
        padding: var(--padding-portrait);
    }

    *[data-grid],
    .screen-content[data-landscape] {
        grid-template-columns: var(--col-values-mobile-portrait);
        grid-template-rows: var(--row-values-mobile-portrait);
        grid-column-gap: var(--col-gap-mobile-portrait);
        grid-row-gap: var(--row-gap-mobile-portrait);
    }

    *[data-background],
    .screen-content[data-landscape="col"] > *[data-image="true"],
    .screen-content[data-landscape="row"] > *[data-image="true"] {
        background-size: var(--background-size-mobile-portrait);
        background-position: var(--background-position-mobile-portrait);
    }

    *[data-position] {
        left: var(--left-mobile-portrait);
        top: var(--top-mobile-portrait);
        right: var(--right-mobile-portrait);
        bottom: var(--bottom-mobile-portrait);
    }

    .screen-content[data-landscape="row"] *[data-image="true"] .screen-image,
    .screen-content[data-landscape="col"] *[data-image="true"] .screen-image {
        /* width: 80%; */
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        aspect-ratio: unset !important;
    }

    .screen-video {
        width: 100%;
        height: unset;
    }

    .screen-quiz-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .screen-results .screen-content {
        background-size: 0%;
    }

    .screen-quiz-results-wrapper {
        padding: 6rem 3rem;
        background-image: url(../../content/img/screen-quiz-results-img.webp);
        background-size: 100% 100%;
        background-position: left top;
        align-items: flex-start;
    }

    .screen-quiz-results {
        width: 100%;
        height: 100%;
        background-size: 0%;
    }

    .screen-content.quiz-question-content .question-clickables {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

/* 
    ##Device = *
    ##Screen = under 500px
  */

@media (max-width: 500px) {
    .arrow-parts {
        --arrow-width: 16.128rem;
    }

    .arrow-central-text {
        top: 142%;
        width: 18rem;
        padding-bottom: 1rem;
    }
}

@media (max-width: 500px) and (orientation: portrait) {
    .summary-item.highlight .summary-item-title {
        font-size: var(--font-size-32);
    }
}

@media (max-width: 420px) {
    .card-swipe-text-feedbacks {
        min-height: 7rem;
    }

    .screen-displayable-trigger > p {
        font-size: var(--font-size-32);
    }
}

/* 
    ##Device = *
    ##Screen = under 400px
  */

@media (max-width: 400px) {
    .card-game-placeholder::before,
    .card,
    .card-blank,
    .card-scores {
        width: 15.13rem;
        height: 15.13rem;
    }

    .arrow-parts {
        --arrow-width: 14.128rem;
    }
}

/* 
    ##Device = *
    ##Screen = under 400px
  */

@media (max-width: 380px) {
    .card-game-placeholder::before,
    .card,
    .card-blank,
    .card-scores {
        width: 14.13rem;
        height: 14.13rem;
    }

    .arrow-parts {
        --arrow-width: 13.128rem;
    }
}

@media (max-width: 360px) {
    .card-swipe-text-feedbacks {
        min-height: 8rem;
    }

    .screen-displayable-trigger > p {
        font-size: var(--font-size-30);
    }
}

/* 
    ##Device = *
    ##Screen = under 350px
  */

@media (max-width: 350px) {
    .arrow-parts {
        --arrow-width: 12rem;
    }
}

/* 
    ##Device = *
    ##Screen = under 540px
  */

@media (max-height: 540px) {
    .category-popup {
        top: 4vh;
        height: calc(
            96vh - var(--nav-height) - (var(--nav-pos) * 2) - var(--padding-bottom-content) - var(--padding-top-content)
        );
        width: 90vw;
    }

    .qcm-feedback {
        height: calc(90vh - var(--padding-bottom-content) - var(--padding-top-content));
        width: 90vw;
    }
}

/* 
    ##Device = *
    ##Screen = under 400px
  */

@media (max-height: 400px) {
    .screen-content[data-landscape="col"] *[data-image="true"] .screen-image[data-texts="true"],
    .screen-content[data-landscape="row"] *[data-image="true"] .screen-image[data-texts="true"] {
        min-width: 90%;
        min-height: 90%;
        width: auto;
        height: auto;
    }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (pointer: coarse) and (min-width: 768px) and (max-width: 2000px) and (orientation: portrait) {
    *[data-grid],
    .screen-content[data-landscape] {
        grid-template-columns: var(--col-values-ipad-portrait);
        grid-template-rows: var(--row-values-ipad-portrait);
        grid-column-gap: var(--col-gap-ipad-portrait);
        grid-row-gap: var(--row-gap-ipad-portrait);
    }

    *[data-background],
    .screen-content[data-landscape="col"] > *[data-image="true"],
    .screen-content[data-landscape="row"] > *[data-image="true"] {
        background-size: var(--background-size-ipad-portrait);
        background-position: var(--background-position-ipad-portrait);
    }

    *[data-position] {
        left: var(--left-ipad-portrait);
        top: var(--top-ipad-portrait);
        right: var(--right-ipad-portrait);
        bottom: var(--bottom-ipad-portrait);
    }

    .screen-content[data-landscape="row"] *[data-image="true"] .screen-image,
    .screen-content[data-landscape="col"] *[data-image="true"] .screen-image {
        /* width: 80%; */
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        aspect-ratio: unset !important;
    }

    .screen-video {
        width: 100%;
        height: unset;
    }

    .screen-results .screen-content {
        background-size: 0%;
    }

    .screen-quiz-results-wrapper {
        padding: 6rem;
        background-image: url(../../content/img/screen-quiz-results-img.webp);
        background-size: 100% 100%;
        background-position: left top;
    }

    .screen-quiz-results {
        width: 100%;
        height: 100%;
        background-size: 0%;
    }

    .screen-quiz-results .results:has(.result p) {
        --gap: 3rem;
        flex-direction: column;
    }

    .screen-quiz-results .results .result > p {
        left: 100%;
        top: 50%;
        translate: 50% -50%;
    }

    .screen-quiz-results .results:has(.result p) .result:not(:last-of-type)::after {
        width: 0.09rem;
        height: var(--gap);
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
    }
}

@media (pointer: coarse) and (max-width: 820px) and (orientation: portrait) {
    .screen-content.quiz-question-content .question-clickables {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

/* 
    ##Device = Resized desktops in
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1368px) and (orientation: landscape) {
    *[data-grid],
    .screen-content[data-landscape] {
        grid-template-columns: var(--col-values-ipad-landscape);
        grid-template-rows: var(--row-values-ipad-landscape);
        grid-column-gap: var(--col-gap-ipad-landscape);
        grid-row-gap: var(--row-gap-ipad-landscape);
    }

    *[data-background],
    .screen-content[data-landscape="col"] > *[data-image="true"],
    .screen-content[data-landscape="row"] > *[data-image="true"] {
        background-size: var(--background-size-ipad-landscape);
        background-position: var(--background-position-ipad-landscape);
    }

    *[data-position] {
        left: var(--left-ipad-landscape);
        top: var(--top-ipad-landscape);
        right: var(--right-ipad-landscape);
        bottom: var(--bottom-ipad-landscape);
    }

    /* .screen-video {
        width: 100%;
        height: unset;
    } */

    .screen-content[data-landscape="row"] *[data-image="true"] .screen-image,
    .screen-content[data-landscape="col"] *[data-image="true"] .screen-image {
        /* width: 80%; */
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        aspect-ratio: unset !important;
    }
}

@media (max-width: 1024px) and (orientation: landscape) {
    .screen-content[data-landscape="row"] *[data-image="true"] .screen-image,
    .screen-content[data-landscape="col"] *[data-image="true"] .screen-image {
        /* width: 80%; */
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        aspect-ratio: unset !important;
    }

    .screen-content[data-landscape="row"] *[data-image="true"] .screen-image .screen-title,
    .screen-content[data-landscape="col"] *[data-image="true"] .screen-image .screen-title {
        font-size: var(--font-size-60);
        line-height: var(--font-size-60);
    }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (pointer: coarse) and (min-width: 768px) and (max-width: 1368px) and (orientation: landscape) {
    *[data-grid],
    .screen-content[data-landscape] {
        grid-template-columns: var(--col-values-ipad-landscape);
        grid-template-rows: var(--row-values-ipad-landscape);
        grid-column-gap: var(--col-gap-ipad-landscape);
        grid-row-gap: var(--row-gap-ipad-landscape);
    }

    *[data-background],
    .screen-content[data-landscape="col"] > *[data-image="true"],
    .screen-content[data-landscape="row"] > *[data-image="true"] {
        background-size: var(--background-size-ipad-landscape);
        background-position: var(--background-position-ipad-landscape);
    }

    *[data-position] {
        left: var(--left-ipad-landscape);
        top: var(--top-ipad-landscape);
        right: var(--right-ipad-landscape);
        bottom: var(--bottom-ipad-landscape);
    }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (pointer: coarse) and (min-width: 685px) and (max-width: 980px) and (orientation: landscape) {
    *[data-grid],
    .screen-content[data-landscape] {
        grid-template-columns: var(--col-values-mobile-landscape);
        grid-template-rows: var(--row-values-mobile-landscape);
        grid-column-gap: var(--col-gap-mobile-landscape);
        grid-row-gap: var(--row-gap-mobile-landscape);
    }

    *[data-background],
    .screen-content[data-landscape="col"] > *[data-image="true"],
    .screen-content[data-landscape="row"] > *[data-image="true"] {
        background-size: var(--background-size-mobile-landscape);
        background-position: var(--background-position-mobile-landscape);
    }

    *[data-position] {
        left: var(--left-mobile-landscape);
        top: var(--top-mobile-landscape);
        right: var(--right-mobile-landscape);
        bottom: var(--bottom-mobile-landscape);
    }

    .quiz-intro .screen-right {
        padding: 2rem 4rem;
    }

    .screen-quiz-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .screen-content.quiz-question-content .question-clickables {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }

    .screen-quiz-results {
        height: auto;
    }

    .screen-quiz-results-wrapper {
        padding: 6rem 3rem;
        align-items: center;
    }

    .screen-quiz-results .results {
        flex-direction: row;
    }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    .screen-left,
    .screen-right {
        padding: var(--padding-portrait);
    }

    *[data-grid],
    .screen-content[data-landscape] {
        grid-template-columns: var(--col-values-mobile-portrait);
        grid-template-rows: var(--row-values-mobile-portrait);
        grid-column-gap: var(--col-gap-mobile-portrait);
        grid-row-gap: var(--row-gap-mobile-portrait);
    }

    *[data-background],
    .screen-content[data-landscape="col"] > *[data-image="true"],
    .screen-content[data-landscape="row"] > *[data-image="true"] {
        background-size: var(--background-size-mobile-portrait);
        background-position: var(--background-position-mobile-portrait);
    }

    *[data-position] {
        left: var(--left-mobile-portrait);
        top: var(--top-mobile-portrait);
        right: var(--right-mobile-portrait);
        bottom: var(--bottom-mobile-portrait);
    }

    .screen-content[data-landscape="row"] *[data-image="true"] .screen-image,
    .screen-content[data-landscape="col"] *[data-image="true"] .screen-image {
        /* width: 80%; */
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        aspect-ratio: unset !important;
    }

    .screen-content[data-landscape="row"] *[data-image="true"] .screen-image .screen-title,
    .screen-content[data-landscape="col"] *[data-image="true"] .screen-image .screen-title {
        font-size: var(--font-size-40);
        line-height: var(--font-size-40);
    }

    .screen-video {
        width: 100%;
        height: unset;
    }

    .quiz-intro .screen-right {
        padding: 2rem 3rem;
    }

    .screen-quiz-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .screen-content.quiz-question-content .question-clickables {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .screen-results .screen-content {
        background-size: 0%;
    }

    .screen-quiz-results-wrapper {
        padding: 6rem 2rem;
        background-image: url(../../content/img/screen-quiz-results-img.webp);
        background-size: 100% 100%;
        background-position: left top;
        align-items: flex-start;
    }

    .screen-quiz-results {
        width: 100%;
        height: 100%;
        background-size: 0%;
    }

    .screen-quiz-results .results {
        --gap: 1rem;
    }

    .screen-quiz-results .results:has(.result p) {
        --gap: 3rem;
        flex-direction: column;
    }

    .screen-quiz-results .results .result > p {
        left: 100%;
        top: 50%;
        translate: 50% -50%;
    }

    .screen-quiz-results .results:has(.result p) .result:not(:last-of-type)::after {
        width: 0.09rem;
        height: var(--gap);
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
    }
}

/* ##Device = Most of the Smartphones Mobiles (Landscape) */
@media (min-width: 480px) and (max-width: 844px) and (orientation: landscape) {
    *[data-grid],
    .screen-content[data-landscape] {
        grid-template-columns: var(--col-values-mobile-landscape);
        grid-template-rows: var(--row-values-mobile-landscape);
        grid-column-gap: var(--col-gap-mobile-landscape);
        grid-row-gap: var(--row-gap-mobile-landscape);
    }

    *[data-background],
    .screen-content[data-landscape="col"] > *[data-image="true"],
    .screen-content[data-landscape="row"] > *[data-image="true"] {
        background-size: var(--background-size-mobile-landscape);
        background-position: var(--background-position-mobile-landscape);
    }

    .screen-content[data-landscape="row"] *[data-image="true"] .screen-image .screen-title,
    .screen-content[data-landscape="col"] *[data-image="true"] .screen-image .screen-title {
        font-size: var(--font-size-40);
        line-height: var(--font-size-40);
    }

    .quiz-intro .screen-right {
        padding: 2rem 4rem;
    }

    .screen-quiz-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .screen-content.quiz-question-content .question-clickables {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .screen-quiz-results {
        height: auto;
    }

    .screen-quiz-results-wrapper {
        padding: 6rem 3rem;
        align-items: center;
    }

    .screen-quiz-results .results {
        flex-direction: row;
    }
}

@media (max-width: 320px) and (orientation: portrait) {
    .screen-content[data-landscape="col"][number="2"].quiz-question-content {
        --col-values: 0fr 1fr;
    }
}

@media (max-height: 320px) and (orientation: landscape) {
    .screen-content[data-landscape="row"][number="2"].quiz-intro {
        --row-values: 0fr 1fr;
    }
}
